option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_USERNAME: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_DB: postgres_db
    PORT: 3000
    DB_PORT: 5432
    POSTGRES_HOST: database-1.caljpwda0ato.us-east-1.rds.amazonaws.com
    JWT_SECRET: mysecret
    AWS_DEFAULT_REGION: us-east-1
    AWS_SECRET_ACCESS_KEY: I498n/2PRpav0m4Jc7SMR2ASQs4rNuh6uF/jsKd1
    AWS_ACCESS_KEY_ID: AKIAXC6E3JCEX6OE7XIO
